[submodule "zsh-autosuggestions"]
	path = zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh-syntax-highlighting"]
	path = zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "wallpapers"]
	path = wallpapers
	url = https://github.com/335015939hi/wallpapers.git
[submodule "plasma/kde-theme-installer"]
	path = plasma/kde-theme-installer
	url = https://github.com/robinsiebler/kde-theme-installer.git
[submodule "plasma/plasma-panel-colorizer"]
	path = plasma/plasma-panel-colorizer
	url = https://github.com/luisbocanegra/plasma-panel-colorizer
